:root {
  --main-color: #ffab4c;
  --secondery-color: #ff5f7e;
  --third-color: #142f43;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: var(--main-color);
}
h3 {
  color: var(--third-color);
  font-size: 2.5rem;
  font-weight: 600;
}
.main-app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  margin: 3rem;
  background-color: var(--secondery-color);
}

.btn {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--third-color);
  color: var(--secondery-color);
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 60%;
}
input {
  border: none;
  background-color: var(--third-color);
  color: var(--secondery-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 40px;
  width: 70%;
}
input:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
